*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    margin-top: 120px;
    min-height: 90vh;
}

.container-footer{
    min-height: min-content;
}

.img-logo{
    width: 80px;
}

.bg-tema{
    background-color: #252429;
}

.icone-user{
    width: 25px;
}

.editar-icone{
    font-size: 90px;
}

@media(max-width: 992px){
    .menu-none{
        display: none;
    }
}

@media(min-width: 992px) {
    
    .offcanvas-header.d-table.menu-phone {
        display: none !important;
    }
}
